.navbar-brand img{
    width: 150px;
    height: auto !important;
}
header.masthead {
    /* padding-top: 10.5rem; 
     padding-bottom: 6rem; 
     text-align: center; 
     color: #fff; */
    background-image: url(../assets/logoimg/gedung-idb-baru.jpg);
    /* background-repeat: no-repeat; 
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;*/
}
header.masthead::after{
background-color: black;
opacity: 0.7;
position: absolute;
height: 100%;
width: 100%;
}